---
layout      : "docs"
title       : "Coming Soon"
group       : "Examples"
---

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)";>
  <h4 class="ui icon header">
    <i class="wait icon"></i>
    <div class="content" style="font-size: 1.5rem;">
      Coming Soon!
    </div>
  </h4>
</div>