// ------------------------------------------------------------------------
// gmaps-docs: home/_footer.scss
// ------------------------------------------------------------------------


// ------------------------------------------------------------------------
// Structure
// ------------------------------------------------------------------------

#footer {
  height     : 33vh;
  max-height : rem(300px);
  min-height : rem(250px);
  text-align : center;
}

.footer__container {
  width: 100%;
  @include absolute-center;
}

.footer__items {
  display : inline-block;
  margin  : 1rem;
}

.footer__item {
  display      : inline-block;
  padding      : .25rem 0;
  margin-right : 1rem;

  &:last-child {
    margin-right: 0;
  }
}


// ------------------------------------------------------------------------
// Font & Color
// ------------------------------------------------------------------------

#footer {
  background: $footer--background;
}

.footer__item {
  color: $footer--color;
  @include transition("color", .1s);

  &:hover {
    color: $footer--hover--color;
  }
}

#copyright {
  color: $footer--color;
}
