// ------------------------------------------------------------------------
// gmaps-docs: home/_footer.scss
// ------------------------------------------------------------------------


// ------------------------------------------------------------------------
// Structure
// ------------------------------------------------------------------------

#footer {
  height     : 33vh;
  max-height : rem(300px);
  min-height : rem(250px);
  text-align : center;
}

#footer_container {
  width: 100%;
  @include absolute-center;
}


// ------------------------------------------------------------------------
// Font & Color
// ------------------------------------------------------------------------

#copyright {
  color: rgba(255, 255, 255, .5);
}
