// ------------------------------------------------------------------------
// gmaps-docs: home/_variables.scss
// ------------------------------------------------------------------------


// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

$header--background    : #2E2E2E;
$header--color         : white;

$footer--background    : $header--background;
$footer--color         : rgba(white, 0.65);
$footer--hover--color  : white;
