// ------------------------------------------------------------------------
// gmaps-docs: docs/_sidemenu.scss
// ------------------------------------------------------------------------


// ------------------------------------------------------------------------
// Structure
// ------------------------------------------------------------------------

.sidemenu {
  position      : relative;
  width         : 100vw;
  border-bottom : rem(1px) solid;

  @include bp-min-lg {
    border-right  : rem(1px) solid;
    border-bottom : 0;
    height        : calc(100vh - #{$header--height});
    max-width     : $sidemenu--max-width;
  }
}

.sidemenu__items {
  padding: 1rem;
  
  @include bp-min-lg {
    height     : calc(100vh - 135px);
    overflow   : hidden;
    overflow-y : auto;
  }
}

.sidemenu__group {
  margin: .35rem 0;

  &.sidemenu__group--active {
    margin: 1rem 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

.sidemenu__header {
  display : block; 
  padding : .35rem 0;
  cursor  : pointer; 
}

.sidemenu__item {
  display : none;
  padding : .35rem .5rem;
  cursor  : pointer;
}

.sidemenu__group--active {
  .sidemenu__item {
    display: block;
  }
}

#txtSearch_wrapper {
  flex: 1 1 auto;
}

// These are required since docsearch alters the input
#txtSearch {
  padding-left  : 2.67142857rem !important;
  padding-right : 1rem !important;
}

#btnSidemenu {
  cursor: pointer;
}


// ------------------------------------------------------------------------
// Font & Color
// ------------------------------------------------------------------------

.sidemenu {
  border-color: $base--border-color;
}

#btnSidemenu,
.sidemenu__item,
.sidemenu__header {
  color: $base--color;

  &:hover {
    color: $base--hover--color;
  }
}

.sidemenu__header {
  font-size   : 1.1rem;
  font-weight : bold;
}

.sidemenu__group--active {
  .sidemenu__header {
    color: $base--hover--color;
  }
}

.sidemenu__item--active {
  color       : $base--hover--color;
  font-weight : bold;
}
